<nav class="navbar bg-white fixed-top navbar-expand-lg shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">EMPLOYEE Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">EMPLOYEE Management</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <!-- <li class="nav-item mx-auto">
                        <a class="nav-link active" aria-current="page" href="#">
                            Employee List
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page">
                            <i class="fas fa-user fa-xs"></i>&nbsp;
                            {{ UserData.firstName }} {{ UserData.lastName }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>